.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.statusContainer > * {
  margin: 0;
}

.statusContainer {
  /* background-color: white; */
  width: 20vw;
  position: absolute;
  top: 0;
  /* padding: 0; */
  left: 10px;
}

.messages {
  border-radius: 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 80vh;
  background-color: #272727;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 800px;
  z-index: 1;
  margin-top: 7.5vh;
  /* position: absolute; */
}

.inputContainer {
  margin: auto;
  left: 0;
  right: 0;
  width: 50vw;
  max-width: 800px;
}

.inputContainer > input {
  width: 50vw;
  max-width: 800px;
  border-radius: 10px;
  border: none;
  height: 5vh;
  /* left: 0;
  right: 0;
  margin: auto; */
  /* position: absolute; */
  /* margin-left: 10vw; */
  margin-top: 2vh;
  text-indent: 10px;
  font-size: larger;
  box-sizing: border-box;
}

.send {
  height: 5vh;
  /* top: 0; */
  /* bottom: 0; */
  /* margin: auto; */
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
  /* margin: auto; */
  /* margin-left: 70%; */
  top: -8vh;

  margin-left: 110%;
}
